services:
  # Skim Trading Bot
   bot:
    build: .
    container_name: skim-bot
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./oauth_keys:/opt/skim/oauth_keys:ro
      - ./scripts:/app/scripts:ro
      - ./crontab:/etc/cron.d/skim-cron:ro